<h3>User (UserAccount)</h3>
  <form  #formUser="ngForm">
    <label>id:</label>{{user.id}} <br/>  
    <label>username:</label>
       <input [(ngModel)]="user.username" name = "username" required pattern="^[a-zA-Z].+" /> <br/>   
    <label>firstName:</label>
       <input [(ngModel)]="user.firstName" name = "firstname" required pattern="^[a-zA-Z].+" />  <br/> 
    <label>lastName:</label>
       <input [(ngModel)]="user.lastName" />  <br/> 
    <label>email:</label>
       <input [(ngModel)]="user.email" name = "email" required pattern = "[a-z0-9._%+-]+@[a-z0-9.-]+\.[a-z]{2,4}$"/> <br/> 
    <label>newPassword:</label>
       <input [(ngModel)]="user.newPassword"  name = "pwd" required minlength="3"> <br/> 
    <label>mainGroup:</label>
        <select [(ngModel)]="user.mainGroup" > 
            <option>user_of_sandboxrealm</option>
            <option>manager_of_sandboxrealm</option>
            <option>admin_of_sandboxrealm</option>
        </select> <br/>
    <button (click)="onSave()" [disabled]="!formUser.form.valid" > Save</button> &nbsp;
    <button (click)="onFetchFromUsername()">  Fetch From Username </button> <br/>
</form>
message: {{message}}
